header.header {
    background-color: #5a5a5a;
    color: white;
    display: flex;
    height: 90px;
    justify-content: space-between;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.527);
    position: relative;
    /* Helps layer the shadow correctly */
    z-index: 10;
}

header .header-content {
    display: inline-flex;
    align-items: center;
    /*gap: 10px; Adjust the gap as needed */
}

header img.header-logo {
    width: 50px;
    margin: 20px;
}

header h1 {
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-family: 'Segoe UI', sans-serif;
    font-weight: 700;
    display: inline;
}

header nav.nav-container {
    display:inline-flex;
    margin-right: 20px;
    align-items: center;
}

header nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}


header nav ul li.li-item {
    font-size: 30px;
    font-weight: bolder;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3)
}
